# Включает модуль mod_rewrite в веб-сервере Apache
RewriteEngine on
# Правило, которое берёт абсолютно любой запрошенный URL и незаметно для пользователя перенаправляет его в папку public/
RewriteRule ^(.*)$ public/$1 [L]
